## PyMongo Workbook (with Python3)

### install the package pymongo for the first time

In [6]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-3.5.1-cp27-cp27m-win_amd64.whl (273kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.5.1

### Import the package

In [7]:
from pymongo import MongoClient

The copy and past the URL is from mlab.com and supply Dbuser and password

### For this project, I am using the online [mlab](https://mlab.com) account. You need to create a database and create user for that database. After that you need to go to [databases](https://mlab.com/databases) under your account and click on the database created to get the link to that database

In [3]:
MONGO_URL = "mongodb://<dbuser>:<dbpassword>@ds12345.mlab.com:12345/<dbname>"

### Establish the connection

In [9]:
client = MongoClient(MONGO_URL)
db = client.get_database()

In [1]:
#connection = MongoClient(ds12345, 12345)
#db = connection[<dbname>]
#db.authenticate(<mlab_username>, <pwd>)

1. Creating the collection(RDBMS table) "heroes" in database "dbname"
2. The documents are specified with Key-Value paris.
   Here 'name' is key 'batmant' is value 
   similarly 'secret identity' and 'portrayals' are keys.
3. Under portrayls the sub-documents are given 
   Each sub-document is having key-value pairs.
   Here 'year' and  'actor' are keys.

In [11]:
heroes = [  {'name':'Batman', 'secret identity':'Bruce Wayne',
             'portrayals': [ {'year':1989,'actor':'Michael Keaton'},
                             {'year':1995,'actor':'Val Kilmer'},
                             {'year':1997,'actor':'George Clooney'},
                             {'year':2005,'actor':'Christian Bale'},
                             {'year':2016,'actor':'Ben Affleck'} ] },
            {'name':'Superman', 'secret identity':'Clark Kent',
             'portrayals': [ {'year':1978,'actor':'Christopher Reeve'},
                             {'year':2006,'actor':'Brandon Routh'},
                             {'year':2013,'actor':'Henry Cavill'} ] },
            {'name':'Aquaman', 'secret identity':'Arthur Curry',
             'portrayals': [ {'year':2016, 'actor':'Jason Momoa'} ] },
            {'name':'Antman','secret identity':'Hank Pym',
             'portrayals': [ {'year':2015, 'actor':'Michael Douglas'},
                             {'year':2015, 'actor':'Paul Rudd'} ] }  ]

Inserting the data into the collection heroes_col

The options to insert are as below. 

1. insert - **depricated so use below 2 options**
2. insert_many 
3. insert_one

In [12]:
db.heroes_col.insert_many(heroes)

1. To check for options available with insert 
   give db.<col name>.insert and then tab, it will show all the options
2. The below command will help to get the syntax of the functions
   db.heroes_col.insert_many?

In [14]:
# 2
db.heroes_col.insert_many?

Check for the number of records in the collection

In [15]:
db.heroes_col.count()

4

Selecting the recrods from collection
1. To select records based on criteria
   a. The criteria should be specified first with in {}
   b. If the object id is to be suppressed then use {"_id":0}.
      To show the object id also in the output either {"_id":0} can be removed or {"_id":1} can be specified
      
2. Different options to select the records 
   i. find 
   ii. find_one

In [152]:
db.heroes_col.find?

In [138]:
#list(db.heroes_col.find_one({"name":"Antman"},{"_id":0}))

['portrayals', 'name', 'secret identity']

In [139]:
# with _id:0
list(db.heroes_col.find({"name":"Antman"},{"_id":0}))

[{'name': 'Antman',
  'portrayals': [{'actor': 'Michael Douglas', 'year': 2015},
   {'actor': 'Paul Rudd', 'year': 2015}],
  'secret identity': 'Hank Pym'}]

In [140]:
# without _id:0
list(db.heroes_col.find({"name":"Antman"}))

[{'_id': ObjectId('59fbb3e04bb11249b81ac3e6'),
  'name': 'Antman',
  'portrayals': [{'actor': 'Michael Douglas', 'year': 2015},
   {'actor': 'Paul Rudd', 'year': 2015}],
  'secret identity': 'Hank Pym'}]

Fetching the all the documents from a collection

In [ ]:
a = list(db.heroes_col.find()

In [150]:
a = list(db.heroes_col.find({},{"_id":0,"secret identity":1}))

In [151]:
a

[{'secret identity': 'Bruce Wayne'},
 {'secret identity': 'Clark Kent'},
 {'secret identity': 'Arthur Curry'},
 {'secret identity': 'Hank Pym'}]

**Different comparison values**

+ $eq	Matches values that are equal to a specified value.                                                    
+ $gt	Matches values that are greater than a specified value.                                                     
+ $gte	Matches values that are greater than or equal to a specified value.                                   
+ $in	Matches any of the values specified in an array.                                                 
+ $lt	Matches values that are less than a specified value.                                                    
+ $lte	Matches values that are less than or equal to a specified value.                                              
+ $ne	Matches all values that are not equal to a specified value.                                                           
+ $nin	Matches none of the values specified in an array.

**Reference for more on Operators**

+ "https://docs.mongodb.com/manual/reference/operator/query/"

In [153]:
# Selecting the records where the value of key "name" is greater than or equal to "B" and supressing object id
list( db.heroes_col.find({"name":{"$gte":"B"}},{"_id":0}) )

[{'name': 'Batman',
  'portrayals': [{'actor': 'Michael Keaton', 'year': 1989},
   {'actor': 'Val Kilmer', 'year': 1995},
   {'actor': 'George Clooney', 'year': 1997},
   {'actor': 'Christian Bale', 'year': 2005},
   {'actor': 'Ben Affleck', 'year': 2016}],
  'secret identity': 'Bruce Wayne'},
 {'name': 'Superman',
  'portrayals': [{'actor': 'Christopher Reeve', 'year': 1978},
   {'actor': 'Brandon Routh', 'year': 2006},
   {'actor': 'Henry Cavill', 'year': 2013}],
  'secret identity': 'Clark Kent'}]

In [154]:
# Conditions on sub documents here portrayals is main key and actor is sub key
list(db.heroes_col.find({"portrayals.actor":"Christopher Reeve"},{"_id":0}))

[{'name': 'Superman',
  'portrayals': [{'actor': 'Christopher Reeve', 'year': 1978},
   {'actor': 'Brandon Routh', 'year': 2006},
   {'actor': 'Henry Cavill', 'year': 2013}],
  'secret identity': 'Clark Kent'}]

In [155]:
list(db.heroes_col.find({"portrayals.year":{"$gte":2000,"$lt":2010}},{"_id":0}))

[{'name': 'Batman',
  'portrayals': [{'actor': 'Michael Keaton', 'year': 1989},
   {'actor': 'Val Kilmer', 'year': 1995},
   {'actor': 'George Clooney', 'year': 1997},
   {'actor': 'Christian Bale', 'year': 2005},
   {'actor': 'Ben Affleck', 'year': 2016}],
  'secret identity': 'Bruce Wayne'},
 {'name': 'Superman',
  'portrayals': [{'actor': 'Christopher Reeve', 'year': 1978},
   {'actor': 'Brandon Routh', 'year': 2006},
   {'actor': 'Henry Cavill', 'year': 2013}],
  'secret identity': 'Clark Kent'}]

Projecting the required keys only. The below depicts selecting "name" and "portrayals"

In [160]:
list(db.heroes_col.find({"portrayals.year":{"$gte":2000,"$lt":2010}}, {"_id":0,"name":1,"portrayals.$":1}))

[{'name': 'Batman', 'portrayals': [{'actor': 'Christian Bale', 'year': 2005}]},
 {'name': 'Superman',
  'portrayals': [{'actor': 'Brandon Routh', 'year': 2006}]}]

In [161]:
list(db.heroes_col.find({},{"_id":0,"name":1,"secret identity":1}))

[{'name': 'Batman', 'secret identity': 'Bruce Wayne'},
 {'name': 'Superman', 'secret identity': 'Clark Kent'},
 {'name': 'Aquaman', 'secret identity': 'Arthur Curry'},
 {'name': 'Antman', 'secret identity': 'Hank Pym'}]

In [70]:
a = dict(db.heroes_col.find({},{"_id":0,"name":1,"secret identity":1}))

In [71]:
a

{'name': 'secret identity'}

In [16]:
list(db.heroes_col.find({"portrayals.actor":["Christopher Reeve","Ben Affleck"]},{"_id":0}))

[]

In [17]:
list(db.heroes_col.find({"portrayals.actor":"Christopher Reeve"},{"_id":0}))

[{'name': 'Superman',
  'portrayals': [{'actor': 'Christopher Reeve', 'year': 1978},
   {'actor': 'Brandon Routh', 'year': 2006},
   {'actor': 'Henry Cavill', 'year': 2013}],
  'secret identity': 'Clark Kent'}]

In [162]:
# count
db.heroes_col.count({"portrayals.actor":"Christopher Reeve"})

1

In [76]:
# New Example

In [18]:
db.inventory.insert_many([
    {"item": "journal",
     "qty": 25,
     "tags": ["blank", "red"],
     "dim_cm": [14, 21]},
    {"item": "notebook",
     "qty": 50,
     "tags": ["red", "blank"],
     "dim_cm": [14, 21]},
    {"item": "paper",
     "qty": 100,
     "tags": ["red", "blank", "plain"],
     "dim_cm": [14, 21]},
    {"item": "planner",
     "qty": 75,
     "tags": ["blank", "red"],
     "dim_cm": [22.85, 30]},
    {"item": "postcard",
     "qty": 45,
     "tags": ["blue"],
     "dim_cm": [10, 15.25]}])

Match on Arrays:

In [19]:
list(db.inventory.find({"tags": ["red", "blank"]},{"_id":0}))

[{'dim_cm': [14, 21], 'item': 'notebook', 'qty': 50, 'tags': ['red', 'blank']}]

In [20]:
list(db.inventory.find({"tags": ["red"]},{"_id":0}))

[]

In [21]:
list(db.inventory.find({"tags": "red"},{"_id":0}))

[{'dim_cm': [14, 21], 'item': 'journal', 'qty': 25, 'tags': ['blank', 'red']},
 {'dim_cm': [14, 21], 'item': 'notebook', 'qty': 50, 'tags': ['red', 'blank']},
 {'dim_cm': [14, 21],
  'item': 'paper',
  'qty': 100,
  'tags': ['red', 'blank', 'plain']},
 {'dim_cm': [22.85, 30],
  'item': 'planner',
  'qty': 75,
  'tags': ['blank', 'red']}]

Multiple Conditions:

In [22]:
list(db.inventory.find({"dim_cm": {"$gt": 25}},{"_id":0}))

[{'dim_cm': [22.85, 30],
  'item': 'planner',
  'qty': 75,
  'tags': ['blank', 'red']}]

In [23]:
list(db.inventory.find({"dim_cm": {"$gt": 15, "$lt": 20}},{"_id":0}))

[{'dim_cm': [14, 21], 'item': 'journal', 'qty': 25, 'tags': ['blank', 'red']},
 {'dim_cm': [14, 21], 'item': 'notebook', 'qty': 50, 'tags': ['red', 'blank']},
 {'dim_cm': [14, 21],
  'item': 'paper',
  'qty': 100,
  'tags': ['red', 'blank', 'plain']},
 {'dim_cm': [10, 15.25], 'item': 'postcard', 'qty': 45, 'tags': ['blue']}]

In [24]:
#Instead of list cursor can be itearated and results can be verified

In [25]:
db.inventory.find({"dim_cm": {"$gt": 15, "$lt": 20}},{"_id":0})

In [26]:
cursor = db.inventory.find({"dim_cm": {"$gt": 15, "$lt": 20}},{"_id":0})
for doc in cursor: 
    print(doc)

{'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'dim_cm': [14, 21]}
{'item': 'notebook', 'qty': 50, 'tags': ['red', 'blank'], 'dim_cm': [14, 21]}
{'item': 'paper', 'qty': 100, 'tags': ['red', 'blank', 'plain'], 'dim_cm': [14, 21]}
{'item': 'postcard', 'qty': 45, 'tags': ['blue'], 'dim_cm': [10, 15.25]}

In [28]:
#elemMatch
list(db.inventory.find(
    {"dim_cm": {"$elemMatch": {"$gt": 15, "$lt": 20}}},{"_id":0}))

[{'dim_cm': [10, 15.25], 'item': 'postcard', 'qty': 45, 'tags': ['blue']}]

In [29]:
#Size
list(db.inventory.find({"tags": {"$size": 3}},{"_id":0}))

[{'dim_cm': [14, 21],
  'item': 'paper',
  'qty': 100,
  'tags': ['red', 'blank', 'plain']}]

In [30]:
#dot notation
list(db.inventory.find({"dim_cm.1": {"$gt": 25}}))

[{'_id': ObjectId('5b06a6434bb11232342da84e'),
  'dim_cm': [22.85, 30],
  'item': 'planner',
  'qty': 75,
  'tags': ['blank', 'red']}]

# Logical Operators

In [31]:
list(db.inventory.find( {"$and": [ { "price": {"$ne": 1.99 } }, { "price": {"$exists": "true" } } ] } ))

[]

In [32]:
list(db.inventory.find( { "price": { "$ne": 1.99, "$exists": "true" } } ))

[]

**Reference for more on Operators**

+ "https://docs.mongodb.com/manual/reference/operator/query/and/#op._S_and"

Regular Expressions

In [33]:
db.products.insert_many([{ "_id" : 100, "sku" : "abc123", "description" : "Single line description." },
{ "_id" : 101, "sku" : "abc789", "description" : "First line\nSecond line" },
{ "_id" : 102, "sku" : "xyz456", "description" : "Many spaces before     line" },
{ "_id" : 103, "sku" : "xyz789", "description" : "Multiple\nline description" }])

In [34]:
list(db.products.find( { "sku": { "$regex": "/789$/" } } ))

[]

In [35]:
list(db.products.find( { "sku": {"$regex": "/789$/" } } ))

[]

In [36]:
import re

In [37]:
regx = re.compile("/789$/", re.IGNORECASE)
list(db.products.find({"sku": regx}))

[]

In [38]:
list(db.products.find( { "sku": {"$regex": regx } } ))

[]

SELECT * FROM products
WHERE sku like "%789";

In [39]:
db.student.insert_many(
[
        {
                "f_name" : "Zenny",
                "sex" : "Female",
                "class" : "VI",
                "age" : 12,
                "grd_point" : 32.6342
        },
        {
                "f_name" : "Paul",
                "sex" : "Male",
                "class" : "VII",
                "age" : 13,
                "grd_point" : 29.5904
        },
        {
                "f_name" : "Tom",
                "sex" : "Male",
                "class" : "VI",
                "age" : 11,
                "grd_point" : 30.1257
        },
        {
                "f_name" : "Lassy",
                "sex" : "Female",
                "class" : "VIII",
                "age" : 13,
                "grd_point" : 28.2514
        },
        {
                "f_name" : "Peter",
                "sex" : "Male",
                "class" : "VI",
                "age" : 11,
                "grd_point" : 31.5201
        }
]
 )

In [40]:
#db.student.find( { f_name: { $regex: 'P.*'} } )

In [2]:
pwd

'C:\\Users\\VChilukoori\\Documents\\JupyterNotebooks-Personal'

In [42]:
#list(db.student.find().sort( { "f_name": 1 } ))

https://docs.mongodb.com/manual/reference/operator/aggregation/group/

In [18]:
test = [
    { "_id" : "01001", "city" : "AGAWAM", "loc" : [ -72.622739, 42.070206 ], "pop" : 15338, "state" : "MA" }
,{ "_id" : "01002", "city" : "CUSHMAN", "loc" : [ -72.51564999999999, 42.377017 ], "pop" : 36963, "state" : "MA" }
,{ "_id" : "01005", "city" : "BARRE", "loc" : [ -72.10835400000001, 42.409698 ], "pop" : 4546, "state" : "MA" }
,{ "_id" : "01007", "city" : "BELCHERTOWN", "loc" : [ -72.41095300000001, 42.275103 ], "pop" : 10579, "state" : "MA" }
,{ "_id" : "01008", "city" : "BLANDFORD", "loc" : [ -72.936114, 42.182949 ], "pop" : 1240, "state" : "MA" }
,{ "_id" : "01010", "city" : "BRIMFIELD", "loc" : [ -72.188455, 42.116543 ], "pop" : 3706, "state" : "MA" }
,{ "_id" : "01011", "city" : "CHESTER", "loc" : [ -72.988761, 42.279421 ], "pop" : 1688, "state" : "MA" }
,{ "_id" : "01012", "city" : "CHESTERFIELD", "loc" : [ -72.833309, 42.38167 ], "pop" : 177, "state" : "MA" }
,{ "_id" : "01013", "city" : "CHICOPEE", "loc" : [ -72.607962, 42.162046 ], "pop" : 23396, "state" : "MA" }
,{ "_id" : "01020", "city" : "CHICOPEE", "loc" : [ -72.576142, 42.176443 ], "pop" : 31495, "state" : "MA" }
,{ "_id" : "01022", "city" : "WESTOVER AFB", "loc" : [ -72.558657, 42.196672 ], "pop" : 1764, "state" : "MA" }
,{ "_id" : "01026", "city" : "CUMMINGTON", "loc" : [ -72.905767, 42.435296 ], "pop" : 1484, "state" : "MA" }
,{ "_id" : "01027", "city" : "MOUNT TOM", "loc" : [ -72.67992099999999, 42.264319 ], "pop" : 16864, "state" : "MA" }
,{ "_id" : "01028", "city" : "EAST LONGMEADOW", "loc" : [ -72.505565, 42.067203 ], "pop" : 13367, "state" : "MA" }
,{ "_id" : "01030", "city" : "FEEDING HILLS", "loc" : [ -72.675077, 42.07182 ], "pop" : 11985, "state" : "MA" }
,{ "_id" : "01031", "city" : "GILBERTVILLE", "loc" : [ -72.19858499999999, 42.332194 ], "pop" : 2385, "state" : "LA" }
,{ "_id" : "01032", "city" : "GOSHEN", "loc" : [ -72.844092, 42.466234 ], "pop" : 122, "state" : "LA" }
,{ "_id" : "01033", "city" : "GRANBY", "loc" : [ -72.52000099999999, 42.255704 ], "pop" : 5526, "state" : "LA" }
,{ "_id" : "01034", "city" : "TOLLAND", "loc" : [ -72.908793, 42.070234 ], "pop" : 1652, "state" : "MA" }
,{ "_id" : "01035", "city" : "HADLEY", "loc" : [ -72.571499, 42.36062 ], "pop" : 4231, "state" : "LA" }
,{ "_id" : "01036", "city" : "HAMPDEN", "loc" : [ -72.43182299999999, 42.064756 ], "pop" : 4709, "state" : "CA" }
,{ "_id" : "01038", "city" : "HATFIELD", "loc" : [ -72.61673500000001, 42.38439 ], "pop" : 3184, "state" : "CA" }
,{ "_id" : "01039", "city" : "HAYDENVILLE", "loc" : [ -72.70317799999999, 42.381799 ], "pop" : 1387, "state" : "CA" }
,{ "_id" : "01040", "city" : "HOLYOKE", "loc" : [ -72.626193, 42.202007 ], "pop" : 43704, "state" : "MA" }
,{ "_id" : "01050", "city" : "HUNTINGTON", "loc" : [ -72.873341, 42.265301 ], "pop" : 2084, "state" : "MA" }
,{ "_id" : "01053", "city" : "LEEDS", "loc" : [ -72.70340299999999, 42.354292 ], "pop" : 1350, "state" : "NY" }
,{ "_id" : "01054", "city" : "LEVERETT", "loc" : [ -72.499334, 42.46823 ], "pop" : 1748, "state" : "NY" }
,{ "_id" : "01056", "city" : "LUDLOW", "loc" : [ -72.471012, 42.172823 ], "pop" : 18820, "state" : "NY" }
,{ "_id" : "01057", "city" : "MONSON", "loc" : [ -72.31963399999999, 42.101017 ], "pop" : 8194, "state" : "NY" }
,{ "_id" : "01060", "city" : "FLORENCE", "loc" : [ -72.654245, 42.324662 ], "pop" : 27939, "state" : "NY" }
,{ "_id" : "01068", "city" : "OAKHAM", "loc" : [ -72.051265, 42.348033 ], "pop" : 1503, "state" : "NJ" }
,{ "_id" : "01069", "city" : "PALMER", "loc" : [ -72.328785, 42.176233 ], "pop" : 9778, "state" : "NJ" }
,{ "_id" : "01070", "city" : "PLAINFIELD", "loc" : [ -72.918289, 42.514393 ], "pop" : 571, "state" : "NJ" }
,{ "_id" : "01071", "city" : "RUSSELL", "loc" : [ -72.840343, 42.147063 ], "pop" : 608, "state" : "MA" }
,{ "_id" : "01072", "city" : "SHUTESBURY", "loc" : [ -72.421342, 42.481968 ], "pop" : 1533, "state" : "MA" }
,{ "_id" : "01073", "city" : "SOUTHAMPTON", "loc" : [ -72.719381, 42.224697 ], "pop" : 4478, "state" : "MA" }
,{ "_id" : "01075", "city" : "SOUTH HADLEY", "loc" : [ -72.581137, 42.237537 ], "pop" : 16699, "state" : "MA" }
,{ "_id" : "01077", "city" : "SOUTHWICK", "loc" : [ -72.770588, 42.051099 ], "pop" : 7667, "state" : "MA" }
,{ "_id" : "01080", "city" : "THREE RIVERS", "loc" : [ -72.362352, 42.181894 ], "pop" : 2425, "state" : "MA" }
,{ "_id" : "01081", "city" : "WALES", "loc" : [ -72.20459200000001, 42.062734 ], "pop" : 1732, "state" : "MA" }
,{ "_id" : "01082", "city" : "WARE", "loc" : [ -72.258285, 42.261831 ], "pop" : 9808, "state" : "MA" }
,{ "_id" : "01085", "city" : "MONTGOMERY", "loc" : [ -72.754318, 42.129484 ], "pop" : 40117, "state" : "MA" }
,{ "_id" : "01089", "city" : "WEST SPRINGFIELD", "loc" : [ -72.641109, 42.115066 ], "pop" : 27537, "state" : "MA" }
,{ "_id" : "01092", "city" : "WEST WARREN", "loc" : [ -72.203639, 42.20734 ], "pop" : 4441, "state" : "MA" }
,{ "_id" : "01095", "city" : "WILBRAHAM", "loc" : [ -72.446415, 42.124506 ], "pop" : 12635, "state" : "MA" }
,{ "_id" : "01096", "city" : "WILLIAMSBURG", "loc" : [ -72.77798900000001, 42.408522 ], "pop" : 2295, "state" : "MA" }
,{ "_id" : "01098", "city" : "WORTHINGTON", "loc" : [ -72.931427, 42.384293 ], "pop" : 877, "state" : "MA" }
,{ "_id" : "01103", "city" : "SPRINGFIELD", "loc" : [ -72.588735, 42.1029 ], "pop" : 2323, "state" : "MA" }
,{ "_id" : "01104", "city" : "SPRINGFIELD", "loc" : [ -72.577769, 42.128848 ], "pop" : 22115, "state" : "MA" }
,{ "_id" : "01105", "city" : "SPRINGFIELD", "loc" : [ -72.578312, 42.099931 ], "pop" : 14970, "state" : "MA" }
,{ "_id" : "01106", "city" : "LONGMEADOW", "loc" : [ -72.5676, 42.050658 ], "pop" : 15688, "state" : "MA" }
,{ "_id" : "01107", "city" : "SPRINGFIELD", "loc" : [ -72.606544, 42.117907 ], "pop" : 12739, "state" : "MA" }
,{ "_id" : "01108", "city" : "SPRINGFIELD", "loc" : [ -72.558432, 42.085314 ], "pop" : 25519, "state" : "MA" }
,{ "_id" : "01109", "city" : "SPRINGFIELD", "loc" : [ -72.554349, 42.114455 ], "pop" : 32635, "state" : "MA" }
,{ "_id" : "01118", "city" : "SPRINGFIELD", "loc" : [ -72.527445, 42.092937 ], "pop" : 14618, "state" : "MA" }
,{ "_id" : "01119", "city" : "SPRINGFIELD", "loc" : [ -72.51211000000001, 42.12473 ], "pop" : 13040, "state" : "MA" }
,{ "_id" : "01128", "city" : "SPRINGFIELD", "loc" : [ -72.48890299999999, 42.094397 ], "pop" : 3272, "state" : "MA" }
,{ "_id" : "01129", "city" : "SPRINGFIELD", "loc" : [ -72.487622, 42.122263 ], "pop" : 6831, "state" : "MA" }
,{ "_id" : "01151", "city" : "INDIAN ORCHARD", "loc" : [ -72.505048, 42.153225 ], "pop" : 8702, "state" : "MA" }
,{ "_id" : "01201", "city" : "PITTSFIELD", "loc" : [ -73.24708800000001, 42.453086 ], "pop" : 50655, "state" : "MA" }
,{ "_id" : "01220", "city" : "ADAMS", "loc" : [ -73.117225, 42.622319 ], "pop" : 9901, "state" : "MA" }
,{ "_id" : "01222", "city" : "ASHLEY FALLS", "loc" : [ -73.320195, 42.059552 ], "pop" : 561, "state" : "MA" }
,{ "_id" : "01223", "city" : "BECKET", "loc" : [ -73.12032499999999, 42.359363 ], "pop" : 1070, "state" : "MA" }
,{ "_id" : "01225", "city" : "CHESHIRE", "loc" : [ -73.15796400000001, 42.561059 ], "pop" : 3094, "state" : "MA" }
,{ "_id" : "01226", "city" : "DALTON", "loc" : [ -73.160259, 42.475046 ], "pop" : 7357, "state" : "MA" }
,{ "_id" : "01230", "city" : "GREAT BARRINGTON", "loc" : [ -73.36065000000001, 42.195922 ], "pop" : 10603, "state" : "MA" }
,{ "_id" : "01235", "city" : "PERU", "loc" : [ -73.092433, 42.434604 ], "pop" : 2559, "state" : "MA" }
,{ "_id" : "01236", "city" : "HOUSATONIC", "loc" : [ -73.374544, 42.265296 ], "pop" : 802, "state" : "MA" }
,{ "_id" : "01237", "city" : "HANCOCK", "loc" : [ -73.24873700000001, 42.541961 ], "pop" : 2328, "state" : "MA" }
,{ "_id" : "01238", "city" : "LEE", "loc" : [ -73.231696, 42.298994 ], "pop" : 6916, "state" : "MA" }
,{ "_id" : "01240", "city" : "LENOX", "loc" : [ -73.271322, 42.364241 ], "pop" : 5001, "state" : "MA" }
,{ "_id" : "01243", "city" : "MIDDLEFIELD", "loc" : [ -73.006226, 42.34795 ], "pop" : 384, "state" : "MA" }
,{ "_id" : "01245", "city" : "WEST OTIS", "loc" : [ -73.213452, 42.187847 ], "pop" : 329, "state" : "MA" }
,{ "_id" : "01247", "city" : "CLARKSBURG", "loc" : [ -73.10999, 42.69865 ], "pop" : 19054, "state" : "MA" }
,{ "_id" : "01253", "city" : "OTIS", "loc" : [ -73.082093, 42.18988 ], "pop" : 1060, "state" : "MA" }
,{ "_id" : "01254", "city" : "RICHMOND", "loc" : [ -73.364457, 42.378398 ], "pop" : 1134, "state" : "MA" }
,{ "_id" : "01255", "city" : "SANDISFIELD", "loc" : [ -73.116285, 42.109429 ], "pop" : 651, "state" : "MA" }
,{ "_id" : "01256", "city" : "SAVOY", "loc" : [ -73.023281, 42.576964 ], "pop" : 632, "state" : "MA" }
,{ "_id" : "01257", "city" : "SHEFFIELD", "loc" : [ -73.361091, 42.100102 ], "pop" : 1839, "state" : "MA" }
,{ "_id" : "01258", "city" : "SOUTH EGREMONT", "loc" : [ -73.456575, 42.101153 ], "pop" : 135, "state" : "MA" }
,{ "_id" : "01259", "city" : "SOUTHFIELD", "loc" : [ -73.26093299999999, 42.078014 ], "pop" : 622, "state" : "MA" }
,{ "_id" : "01262", "city" : "STOCKBRIDGE", "loc" : [ -73.32226300000001, 42.30104 ], "pop" : 2200, "state" : "MA" }
,{ "_id" : "01266", "city" : "WEST STOCKBRIDGE", "loc" : [ -73.38251, 42.334752 ], "pop" : 1173, "state" : "MA" }
,{ "_id" : "01267", "city" : "WILLIAMSTOWN", "loc" : [ -73.20363999999999, 42.708883 ], "pop" : 8220, "state" : "MA" }
,{ "_id" : "01270", "city" : "WINDSOR", "loc" : [ -73.04661, 42.509494 ], "pop" : 770, "state" : "MA" }
,{ "_id" : "01301", "city" : "LEYDEN", "loc" : [ -72.60184700000001, 42.601222 ], "pop" : 18968, "state" : "MA" }
,{ "_id" : "01330", "city" : "ASHFIELD", "loc" : [ -72.810998, 42.523207 ], "pop" : 1535, "state" : "MA" }
,{ "_id" : "01331", "city" : "NEW SALEM", "loc" : [ -72.21464400000001, 42.592065 ], "pop" : 14077, "state" : "MA" }
,{ "_id" : "01337", "city" : "LEYDEN", "loc" : [ -72.563439, 42.683784 ], "pop" : 2426, "state" : "MA" }
,{ "_id" : "01338", "city" : "BUCKLAND", "loc" : [ -72.764124, 42.615174 ], "pop" : 16, "state" : "MA" }
,{ "_id" : "01339", "city" : "HAWLEY", "loc" : [ -72.880162, 42.621802 ], "pop" : 1325, "state" : "MA" }
,{ "_id" : "01340", "city" : "COLRAIN", "loc" : [ -72.726508, 42.67905 ], "pop" : 2050, "state" : "MA" }
,{ "_id" : "01341", "city" : "CONWAY", "loc" : [ -72.702473, 42.513832 ], "pop" : 1524, "state" : "MA" }
,{ "_id" : "01342", "city" : "DEERFIELD", "loc" : [ -72.60723400000001, 42.540636 ], "pop" : 1281, "state" : "LA" }
,{ "_id" : "01344", "city" : "ERVING", "loc" : [ -72.41663800000001, 42.604957 ], "pop" : 635, "state" : "LA" }
,{ "_id" : "01346", "city" : "HEATH", "loc" : [ -72.839101, 42.685347 ], "pop" : 174, "state" : "MA" }
,{ "_id" : "01349", "city" : "MILLERS FALLS", "loc" : [ -72.494626, 42.576206 ], "pop" : 1893, "state" : "CA" }
,{ "_id" : "01350", "city" : "MONROE", "loc" : [ -72.960156, 42.723885 ], "pop" : 97, "state" : "CA" }
,{ "_id" : "01351", "city" : "MONTAGUE", "loc" : [ -72.532837, 42.542864 ], "pop" : 1699, "state" : "CA" }
,{ "_id" : "01355", "city" : "NEW SALEM", "loc" : [ -72.306241, 42.514643 ], "pop" : 456, "state" : "MA" }
,{ "_id" : "01360", "city" : "NORTHFIELD", "loc" : [ -72.45099500000001, 42.688705 ], "pop" : 2829, "state" : "DL" }
,{ "_id" : "01364", "city" : "NEW SALEM", "loc" : [ -72.30586700000001, 42.591231 ], "pop" : 8544, "state" : "DL" }
,{ "_id" : "01366", "city" : "PETERSHAM", "loc" : [ -72.18934900000001, 42.489761 ], "pop" : 1131, "state" : "DL" }
,{ "_id" : "01367", "city" : "ROWE", "loc" : [ -72.925776, 42.695289 ], "pop" : 630, "state" : "MA" }
,{ "_id" : "01370", "city" : "SHELBURNE FALLS", "loc" : [ -72.739059, 42.602203 ], "pop" : 4525, "state" : "MA" }
,{ "_id" : "01373", "city" : "SOUTH DEERFIELD", "loc" : [ -72.615268, 42.475616 ], "pop" : 5118, "state" : "MA" }
,{ "_id" : "01375", "city" : "SUNDERLAND", "loc" : [ -72.56756900000001, 42.453947 ], "pop" : 3399, "state" : "PA" }
,{ "_id" : "01376", "city" : "TURNERS FALLS", "loc" : [ -72.54701, 42.606521 ], "pop" : 7100, "state" : "PA" }
,{ "_id" : "01379", "city" : "WENDELL", "loc" : [ -72.400851, 42.565644 ], "pop" : 393, "state" : "MA" }
,{ "_id" : "01420", "city" : "FITCHBURG", "loc" : [ -71.803133, 42.579563 ], "pop" : 41194, "state" : "PA" }
,{ "_id" : "01430", "city" : "ASHBURNHAM", "loc" : [ -71.92666, 42.649614 ], "pop" : 5433, "state" : "PA" }
,{ "_id" : "01431", "city" : "ASHBY", "loc" : [ -71.817369, 42.674462 ], "pop" : 2649, "state" : "MA" }
,{ "_id" : "01432", "city" : "AYER", "loc" : [ -71.578763, 42.55914 ], "pop" : 6871, "state" : "MA" }
,{ "_id" : "01433", "city" : "FT DEVENS", "loc" : [ -71.621819, 42.532416 ], "pop" : 8480, "state" : "MA" }
,{ "_id" : "01436", "city" : "BALDWINVILLE", "loc" : [ -72.06464699999999, 42.593568 ], "pop" : 4386, "state" : "NY" }
,{ "_id" : "01440", "city" : "GARDNER", "loc" : [ -71.9898, 42.57405 ], "pop" : 20125, "state" : "MA" }
,{ "_id" : "01450", "city" : "GROTON", "loc" : [ -71.55837099999999, 42.612351 ], "pop" : 7504, "state" : "NY" }
,{ "_id" : "01451", "city" : "HARVARD", "loc" : [ -71.575293, 42.498565 ], "pop" : 4445, "state" : "MA" }
,{ "_id" : "01452", "city" : "HUBBARDSTON", "loc" : [ -72.001159, 42.486538 ], "pop" : 2797, "state" : "NY" }
,{ "_id" : "01453", "city" : "LEOMINSTER", "loc" : [ -71.756308, 42.52744 ], "pop" : 38145, "state" : "MA" }
,{ "_id" : "01460", "city" : "LITTLETON", "loc" : [ -71.487667, 42.540132 ], "pop" : 7066, "state" : "NY" }
,{ "_id" : "01462", "city" : "LUNENBURG", "loc" : [ -71.726642, 42.58843 ], "pop" : 9117, "state" : "NY" }
,{ "_id" : "01740", "city" : "BOLTON", "loc" : [ -71.60759299999999, 42.436523 ], "pop" : 3134, "state" : "NJ" }
,{ "_id" : "01741", "city" : "CARLISLE", "loc" : [ -71.35189200000001, 42.528562 ], "pop" : 4333, "state" : "MA" }
,{ "_id" : "01742", "city" : "CONCORD", "loc" : [ -71.374741, 42.456701 ], "pop" : 17076, "state" : "MA" }
,{ "_id" : "01745", "city" : "SOUTHBOROUGH", "loc" : [ -71.502256, 42.293221 ], "pop" : 506, "state" : "MA" }
,{ "_id" : "01746", "city" : "HOLLISTON", "loc" : [ -71.436059, 42.202641 ], "pop" : 12917, "state" : "MI" }
,{ "_id" : "01747", "city" : "HOPEDALE", "loc" : [ -71.537601, 42.126796 ], "pop" : 5649, "state" : "MI" }
,{ "_id" : "01748", "city" : "HOPKINTON", "loc" : [ -71.53017800000001, 42.219046 ], "pop" : 9191, "state" : "MI" }
,{ "_id" : "01749", "city" : "HUDSON", "loc" : [ -71.560896, 42.391796 ], "pop" : 17233, "state" : "MA" }
,{ "_id" : "01752", "city" : "MARLBOROUGH", "loc" : [ -71.54335500000001, 42.350861 ], "pop" : 31813, "state" : "NJ" }
,{ "_id" : "01754", "city" : "MAYNARD", "loc" : [ -71.454975, 42.432118 ], "pop" : 10325, "state" : "NJ" }
]

In [20]:
db.zipcodes.insert_many(test)

In [22]:
#sum of population
a = db.zipcodes.aggregate( [
   { "$group": { "_id": "$state", "totalPop": { "$sum": "$pop" } } },
   { "$match": { "totalPop": { "$gte": 10*100 } } }
] )

SELECT state, SUM(pop) AS totalPop
FROM zipcodes
GROUP BY state
HAVING totalPop >= (10*100)

In [23]:
list(a)

[{u'_id': u'PA', u'totalPop': 57126},
 {u'_id': u'DL', u'totalPop': 12504},
 {u'_id': u'NJ', u'totalPop': 57124},
 {u'_id': u'MA', u'totalPop': 839466},
 {u'_id': u'LA', u'totalPop': 14180},
 {u'_id': u'NY', u'totalPop': 88921},
 {u'_id': u'MI', u'totalPop': 27757},
 {u'_id': u'CA', u'totalPop': 12969}]

In [30]:
#distinct States
dist = db.zipcodes.aggregate( [ { "$group" : { "_id" : "$state" } } ] )
list(dist)

[{u'_id': u'PA'},
 {u'_id': u'DL'},
 {u'_id': u'NJ'},
 {u'_id': u'MA'},
 {u'_id': u'LA'},
 {u'_id': u'NY'},
 {u'_id': u'MI'},
 {u'_id': u'CA'}]

In [24]:
#average population
avgpop=db.zipcodes.aggregate( [
   { "$group": { "_id": { "state": "$state", "city": "$city" }, "pop": { "$sum": "$pop" } } },
   { "$group": { "_id": "$_id.state", "avgCityPop": { "$avg": "$pop" } } }
] )

In [25]:
list(avgpop)

[{u'_id': u'DL', u'avgCityPop': 4168.0},
 {u'_id': u'PA', u'avgCityPop': 14281.5},
 {u'_id': u'NJ', u'avgCityPop': 9520.666666666666},
 {u'_id': u'LA', u'avgCityPop': 2363.3333333333335},
 {u'_id': u'MA', u'avgCityPop': 10237.390243902439},
 {u'_id': u'NY', u'avgCityPop': 8892.1},
 {u'_id': u'CA', u'avgCityPop': 2161.5},
 {u'_id': u'MI', u'avgCityPop': 9252.333333333334}]

In [27]:
#big and small 

bs = db.zipcodes.aggregate( [
   { "$group":
      {
        "_id": { "state": "$state", "city": "$city" },
        "pop": { "$sum": "$pop" }
      }
   },
   { "$sort": { "pop": 1 } },
   { "$group":
      {
        "_id" : "$_id.state",
        "biggestCity":  { "$last": "$_id.city" },
        "biggestPop":   { "$last": "$pop" },
        "smallestCity": { "$first": "$_id.city" },
        "smallestPop":  { "$first": "$pop" }
      }
   }])

In [28]:
list(bs)

[{u'_id': u'PA',
  u'biggestCity': u'FITCHBURG',
  u'biggestPop': 41194,
  u'smallestCity': u'SUNDERLAND',
  u'smallestPop': 3399},
 {u'_id': u'DL',
  u'biggestCity': u'NEW SALEM',
  u'biggestPop': 8544,
  u'smallestCity': u'PETERSHAM',
  u'smallestPop': 1131},
 {u'_id': u'NY',
  u'biggestCity': u'FLORENCE',
  u'biggestPop': 27939,
  u'smallestCity': u'LEEDS',
  u'smallestPop': 1350},
 {u'_id': u'MA',
  u'biggestCity': u'SPRINGFIELD',
  u'biggestPop': 148062,
  u'smallestCity': u'BUCKLAND',
  u'smallestPop': 16},
 {u'_id': u'LA',
  u'biggestCity': u'GRANBY',
  u'biggestPop': 5526,
  u'smallestCity': u'GOSHEN',
  u'smallestPop': 122},
 {u'_id': u'MI',
  u'biggestCity': u'HOLLISTON',
  u'biggestPop': 12917,
  u'smallestCity': u'HOPEDALE',
  u'smallestPop': 5649},
 {u'_id': u'CA',
  u'biggestCity': u'HAMPDEN',
  u'biggestPop': 4709,
  u'smallestCity': u'MONROE',
  u'smallestPop': 97},
 {u'_id': u'NJ',
  u'biggestCity': u'MARLBOROUGH',
  u'biggestPop': 31813,
  u'smallestCity': u'PLAINFIELD',
  u'smallestPop': 571}]

In [32]:
xyz = db.zipcodes.aggregate(
   [
     { "$group" : { "_id" : "$state", "cities": { "$push": "$city" } } }
   ]
)

In [33]:
list(xyz)

[{u'_id': u'PA',
  u'cities': [u'SUNDERLAND', u'TURNERS FALLS', u'FITCHBURG', u'ASHBURNHAM']},
 {u'_id': u'DL', u'cities': [u'NORTHFIELD', u'NEW SALEM', u'PETERSHAM']},
 {u'_id': u'NJ',
  u'cities': [u'OAKHAM',
   u'PALMER',
   u'PLAINFIELD',
   u'BOLTON',
   u'MARLBOROUGH',
   u'MAYNARD']},
 {u'_id': u'MA',
  u'cities': [u'AGAWAM',
   u'CUSHMAN',
   u'BARRE',
   u'BELCHERTOWN',
   u'BLANDFORD',
   u'BRIMFIELD',
   u'CHESTER',
   u'CHESTERFIELD',
   u'CHICOPEE',
   u'CHICOPEE',
   u'WESTOVER AFB',
   u'CUMMINGTON',
   u'MOUNT TOM',
   u'EAST LONGMEADOW',
   u'FEEDING HILLS',
   u'TOLLAND',
   u'HOLYOKE',
   u'HUNTINGTON',
   u'RUSSELL',
   u'SHUTESBURY',
   u'SOUTHAMPTON',
   u'SOUTH HADLEY',
   u'SOUTHWICK',
   u'THREE RIVERS',
   u'WALES',
   u'WARE',
   u'MONTGOMERY',
   u'WEST SPRINGFIELD',
   u'WEST WARREN',
   u'WILBRAHAM',
   u'WILLIAMSBURG',
   u'WORTHINGTON',
   u'SPRINGFIELD',
   u'SPRINGFIELD',
   u'SPRINGFIELD',
   u'LONGMEADOW',
   u'SPRINGFIELD',
   u'SPRINGFIELD',
   u'SPRINGFIELD',
   u'SPRINGFIELD',
   u'SPRINGFIELD',
   u'SPRINGFIELD',
   u'SPRINGFIELD',
   u'INDIAN ORCHARD',
   u'PITTSFIELD',
   u'ADAMS',
   u'ASHLEY FALLS',
   u'BECKET',
   u'CHESHIRE',
   u'DALTON',
   u'GREAT BARRINGTON',
   u'PERU',
   u'HOUSATONIC',
   u'HANCOCK',
   u'LEE',
   u'LENOX',
   u'MIDDLEFIELD',
   u'WEST OTIS',
   u'CLARKSBURG',
   u'OTIS',
   u'RICHMOND',
   u'SANDISFIELD',
   u'SAVOY',
   u'SHEFFIELD',
   u'SOUTH EGREMONT',
   u'SOUTHFIELD',
   u'STOCKBRIDGE',
   u'WEST STOCKBRIDGE',
   u'WILLIAMSTOWN',
   u'WINDSOR',
   u'LEYDEN',
   u'ASHFIELD',
   u'NEW SALEM',
   u'LEYDEN',
   u'BUCKLAND',
   u'HAWLEY',
   u'COLRAIN',
   u'CONWAY',
   u'HEATH',
   u'NEW SALEM',
   u'ROWE',
   u'SHELBURNE FALLS',
   u'SOUTH DEERFIELD',
   u'WENDELL',
   u'ASHBY',
   u'AYER',
   u'FT DEVENS',
   u'GARDNER',
   u'HARVARD',
   u'LEOMINSTER',
   u'CARLISLE',
   u'CONCORD',
   u'SOUTHBOROUGH',
   u'HUDSON']},
 {u'_id': u'LA',
  u'cities': [u'GILBERTVILLE',
   u'GOSHEN',
   u'GRANBY',
   u'HADLEY',
   u'DEERFIELD',
   u'ERVING']},
 {u'_id': u'NY',
  u'cities': [u'LEEDS',
   u'LEVERETT',
   u'LUDLOW',
   u'MONSON',
   u'FLORENCE',
   u'BALDWINVILLE',
   u'GROTON',
   u'HUBBARDSTON',
   u'LITTLETON',
   u'LUNENBURG']},
 {u'_id': u'MI', u'cities': [u'HOLLISTON', u'HOPEDALE', u'HOPKINTON']},
 {u'_id': u'CA',
  u'cities': [u'HAMPDEN',
   u'HATFIELD',
   u'HAYDENVILLE',
   u'MILLERS FALLS',
   u'MONROE',
   u'MONTAGUE']}]